#  IntelliJ IDEA
**/.idea/*
#  Local directories
**/.terraform/*
**/.terraform.lock.hcl
backend.hcl
provider-aws.tf
var/
# .tfstate files
transaction.yaml
**.csr
**.pem
*.tfstate
*.tfstate.*
**nohup.out
.archive/*
ztuff/*

